// scrollbar
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border: none;
    border-radius: 20px;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(151, 150, 150, 0.5) transparent;
}

.library {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    overflow-y: scroll;
    box-shadow: 2px 2px 40px #c7c7c7;
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s all linear;
    background-color: #fff;
    h2 {
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background: #f0edf9;
    }
    img {
        width: 30%;
    }
    .song-description {
        padding-left: 1rem;
        h3 {
            font-size: 1rem;
        }
        h4 {
            font-size: 0.75rem;
        }
    }
}

.selected {
    background: #bdbac4;
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}