nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
        .icon-logo {
            margin-right: 10px;
        }
    }
    button {
        border: 2px solid #bcbcbc;
        background: transparent;
        padding: .5rem .75rem;
        cursor: pointer;
        &:hover {
            background: #444;
            color: #fff;
        }
        .icon-music {
            margin-left: 8px;
        }
    }
}
@media screen and (max-width: 768px) {
  nav {
    button {
        z-index: 10;
    }
  }
}